* {
    padding: 0;
    margin: 0;
}
nav {
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
}

.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}
nav ul li {
    list-style: none;
}
.semi bold 20 {
    color: #0d1321;
}
.btn-primary {
    padding: 10px 17px;
    font-size: 20px;
}
.banner-title {
    font-size: 48px;
    font-weight: bolder;
    text-align: centepx;
}
.banner-description {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}
.btn-secondary {
    color: white;
    padding: 21px 24px;
    font-size: 20px;
    background-color: black;
    border-radius: 10px;
}
.banner-dp-pic {
    width: 240px;
    height: 240px;
    /* padding: 273px,223px;*/
}
.dp {
    justify-content: center;
    align-items: center;
    text-align: center;
}
.header {
    background-image: url("../images/Hero-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 1500px;
    height: 800px;
}
.banner-content {
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 60px;
}
.mid-section {
    margin-left: 5%;
    margin-right: 5%;
    padding: 7%;
    border-radius: 5px;
    text-align: center;
}
.c {
    background-color: #fafafa;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    margin: 20px;
    text-align: left;
}
.c-text {
    padding: 60px;
    margin-left: 5%;
    font-size: 20px;
}
.c-img {
    padding: 60px;
    margin-right: 5%;
}
.c-text button {
    height: 50px;
    width: 200px;
    border-radius: 10px;
}
.video {
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-top: 25px;
}
.video iframe {
    border-radius: 5px;
    padding: 10px;
}
.card {
    border-radius: 5px;
    justify-content: space-around;
    align-items: space-around;
    width: 300px;
    height: 250px;
    text-align: left !important;
    padding: 20px;
}
.parent {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.card-1{
  background-color: #e2d5d5;
}
.card-2{
  background-color: #bbcfd7;
}
.card-3{
  background-color: #f1f4dc;
}
.l-card{
  border: 1px solid lightgray;
  display: flex;
  text-align: left;
  padding: 20px;
  border-radius: 5px;
  margin-top: 10px;
}
.l-card img{
  padding: 20px;
}
.f-parent{
  background-image: url("../images/handshake.jpg");
  color: #fff;
  border-radius: 5px;
}
.f-parent input{
  width: 50%;
  height: 40px;
  background-color: #FFF;
  border: none;
  border-radius: 5px;
}
.f-parent button{
  background-color: #FFF;
  border: none;
  border-radius: 5px;
  width: 80px;
  height: 40px;
}
.f-parent p{
  text-shadow: 3px 2px px 2px 2px #777;
}
.f-parent h1{
  text-shadow: 3px 2px px 2px 2px #777;
}
.Last finishing{
    display: flex;
    justify-content: space-between;
}
.last section{
    display: flex;
    justify-content: space-between;
}